<div class="container mt-5" *ngIf="post">
    <h3>Edit Post</h3>
    <form [formGroup]='postForm' (ngSubmit)='editPost()' >
        <div class="mb-3">
            <label for="PostTitle" class="form-label">Title</label>
            <input formControlName='title'  type="text" class="form-control" id="PostTitle" placeholder="Post Title"
            [ngClass]="{
              'is-invalid':
                (postForm.get('title')?.errors) ||
                ((postForm.get('title')?.touched || postForm.get('title')?.dirty) && postForm.get('title')?.errors)
            }">
             <div *ngIf="postForm.get('title')?.errors" class="text-danger">
               Title is required
            </div>
          </div>
          <div class="mb-3">
            <label for="PostBody" class="form-label">Body</label>
            <textarea formControlName='body'  class="form-control" id="PostBody" rows="5"
            [ngClass]="{
              'is-invalid':
                (postForm.get('body')?.errors) ||
                ((postForm.get('body')?.touched || postForm.get('body')?.dirty) && postForm.get('body')?.errors)
            }"></textarea>
            <div *ngIf="postForm.get('body')?.errors" class="text-danger">
              Body is required
           </div>
          </div>
          <button type="submit" [disabled]='postForm.invalid' class="btn btn-primary">Update Post</button>
    </form>
</div>
